.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 15px;
}

progress {
  width: 50%;
}

.timerDisplay {
}
